nav {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
}
nav > img {
  width: 200px;
}
.nav-links {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
}